.about{

width: 100%;

height: 500px;
// background: rgb(110, 79, 79);


h1{
text-align: center;

margin-bottom: 15px;

}

.about_blog{

    margin-top: 10px;

    display: flex;
    align-items: center;

    justify-content: space-around;
    width: 90%;
    height: 90%;
    // background: rgb(34, 31, 31);
    margin: 0 auto;

    .card_about{
                position: relative;

        padding: 10px 15px;
    
            box-shadow: 2px 5px 12px 2px rgba(0,0,0,0.19);
-webkit-box-shadow: 2px 5px 12px 2px rgba(0,0,0,0.19);
-moz-box-shadow: 2px 5px 12px 2px rgba(0,0,0,0.19);
        width: 30%;
        height: 100%;
        // background: #000;

        .titre{


            background: rgba(245, 242, 242, 0.336);
        height: 20%;

        &::before{
        
            content: '';
            position: absolute;
            left: 0px;
            top: 0px;
            height: 65px
            ;margin-right: 15px;
            border: 2px solid $hover;
        
        }    

        span{
        
            color: $hover;
        
        }
    
    }
    
    .content{
    
        height: 100%;

        width: 100%;

        p{
        font-size: 30px;
        font-weight: 500px;


        &:nth-child(2){
        
              font-size: 15px;
        font-weight: 100px;
        
        
        }


        }

    
    
    }


    }


}



}