




@import './utilities/color';


html, body {
      margin: 0%;
      padding: 0%;
      width: 100%;
      height: 100vh;
      background: #121212;
      overflow: hidden;

}

body {
      background: url(hero.jpg) no-repeat 50% 50%;
      background-size: cover;
      background: rgb(184, 162, 162);
}


body.open  .burgeur_menu_bottom {
    transform: translateY(0);
}
body.open  .burgeur_menu_top {
    transform: translateY(0);
}



body.open .ouvrir {
    display: none;
}

body.open .fermer {
    display: block;
}















img {
      width: 100%;
}

.nav{
    position:relative;
    height: 80px;
    width: 100%;


    background:#191718;

}

.logo {
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
      position: fixed;
      font-family: Poppins;
      line-height: 80px;
      margin-left: 2em;
      color: #fff;
      font-size: 15px;
      letter-spacing: 3px;
      font-weight: bold;
      text-transform: uppercase;
      z-index: 600;

      span{
        margin-left: 15px;
    
        font-size:20px;

    }

    }

    
.toggle {

    // margin-bottom: 50px;
    color: var(--third-color);
    font-size: 2rem;
    position: relative;

    z-index: 1000;
    width: 70px;
    height:50px;
    
    cursor: pointer;
    // background: #000;
    display: flex;
    justify-content: center;
    align-items: center;

    .fermer{
       
     
       
        position: absolute;

            display: none;

            top:0;

    
    }

    .ouvrir{

        top:0;
        position: absolute;

 
            display: block;
    
    }


    
.open .ouvrir {
    display: none;
}

.open .fermer {
    display: block;
}






}


.logo ion-icon {


    font-size: 50px;
      color: $cool;
      margin-right: 7px;
      position: relative;
      top: 1px;
      z-index: 1;

      .fermer{
    
        display:block;
    
    }

}

.contact {
      position: fixed;
      color: rgb(124, 124, 124);
      font-size: 12px;
      letter-spacing: 2px;
      font-family: Poppins;
      right: 100px;
      line-height: 80px;
      z-index: 1;
}

.menu{
      position: fixed;
      color: $cool;
      right: 2em;
      top: 4px;
      line-height: 80px;
      z-index: 1;
}

.menu ion-icon {
      font-size: 24px;
}

.header {
      position: absolute;
      top: 46%;
      left: 32%;
      transform: translate(-50%, -50%);
      z-index: 1;
}

.ml7 {
      position: relative;
      font-weight: 900;
      font-size: 3.7em;
}

.ml7 .text-wrapper {
      position: relative;
      display: inline-block;
      padding-top: 0.2em;
      padding-right: 0.05em;
      padding-bottom: 0.1em;
      overflow: hidden;
      .letters{
    
    }
}

.ml7 .letter {
      transform-origin: 0 100%;
      display: inline-block;

      line-height: 1em;

            span{
    color: $cool;}


}

h1 {
      color: #fff;
      font-family: "Roboto";
      font-weight: bolder !important;
      font-size: 46px !important;
      margin-bottom: 0px;
      text-transform: uppercase !important;
}

#tagline  {
      width: 640px;
}

p {
      color: rgb(196, 193, 193);
      font-weight: 200;
      font-family: "Roboto";
      line-height: 28px;
      margin-top: 0;
      margin-bottom: 0;
}

.buttons {
      margin-top: 40px;
}

button {
      margin-right: 10px !important;
      padding: 14px 30px;
      border: none;
      color: #fff;
      font-size: 12px !important;
      letter-spacing: 4px;
      font-weight: 300;
}

#one {
      background: none;
      border: .3pt solid rgba(255, 255, 255, 0.3);
}

#two {
background: #dd5d0d;
background: linear-gradient(90deg,#dd5d0d 0%, rgba(223,104,29,0.66) 40%);
background: -webkit-linear-gradient(90deg,#dd5d0d 0%, rgba(223,104,29,0.66) 40%);
background: -moz-linear-gradient(90deg,#dd5d0d 0%, rgba(223,104,29,0.66) 40%);}

.media {
      position: absolute;
      top: 38%;
      z-index: 1;
      right: 6%
}

.media ul {
      position: absolute;
      list-style: none;
}

.media ul li {
      color: $cool;
      padding: 12px 0;
      display: inline-block !important;
}

.bottom-text {
      position: absolute;
      z-index: 1;
      color: grey;
      font-size: 18px;
      font-family: monospace;
      margin-left: 2em;
      bottom: 40px;
}

.copyright {
      position: absolute;
      z-index: 1;
      color: grey;
      font-size: 15px;
      right: 0;
      font-family: Roboto;
      font-weight: 100;
      margin-right: 2em;
      bottom: 40px;   
}

.loading-screen {
      position: absolute;
      width: 100%;
      height: 100vh;
      background: #111010;
      z-index: 2;
}

// .ring {
//       margin: 0%;
//       padding: 0%;
//       top: 50%;
//       left: 50%;
//       transform: translate(-50%, -50%);
//       position: absolute;
//       z-index: 2;
//       width: 40%;
//       opacity: 0.7;    
// }
// loader


.center{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;

        margin: 0%;
      padding: 0%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      z-index: 2;
      width: 40%;
      opacity: 0.7; 


  .ring{
      margin: 0%;
      padding: 0%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      z-index: 2;
      width: 40%;
      opacity: 0.7;    
}
@keyframes ring {
  0%{
    transform: rotate(0deg);
    box-shadow: 1px 5px 2px #e65c00;
  }
  50%{
    transform: rotate(180deg);
    box-shadow: 1px 5px 2px #18b201;
  }
  100%{
    transform: rotate(360deg);
    box-shadow: 1px 5px 2px #0456c8;
  }
}
.ring:before{
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(255,255,255,.3);
}
span{
  color: #737373;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 200px;
  animation: text 3s ease-in-out infinite;
}
@keyframes text {
  50%{
    color: $cool;
  }
}




}

// loader



.ringOne img {
      animation: rotateFirstRing 2s linear infinite;
}

.ringTwo img {
      animation: rotateFirstRing 8s linear infinite;
}



//  menu deroulant burgeur


.burgeur_menu{

    position:absolute;
    display:flex;
    justify-content:center;

    align-items:center;
    flex-direction:column;

    height:100%;
    width:100%;
    // background:rgb(51, 36, 187);
        display: flex;


    .burgeur_menu_top{

      width: 100%;
    height: 50%;
    background: rgb(37, 37, 34);
    transition: transform 0.5s;
      display: flex;
    justify-content: center;
    align-items: center;

            transform: translateY(-100%);

        z-index: 500;

    }

    .burgeur_menu_bottom{

            z-index: 500;

    
      width: 100%;
    height: 50%;
    background: rgb(28, 28, 31);
    transition: transform 0.5s;
      display: flex;
    justify-content: center;
    align-items: center;

            transform: translateY(100%);


    
    }

    .circle_menu{

                    z-index: 600;

    
            width: 0rem;
    height: 0rem;
    border-radius: 50%;
    background: $cool;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--third-color);
    font-family: var(--secondary-font);
    font-size: 1.5rem;
    opacity: 0;
    
    }

    .separation_menu{

                    z-index: 600;

    
          position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    width: 0px;
    background: $cool;
    
    }

}


.menu__left__inner__item {
    font-family: var(--primary-font);
    font-size: 3rem;
    margin-bottom: 2rem;
}

.menu__left__inner__item:last-child {
    margin-bottom: 0;
}

.menu__left__inner__item a {
    color: var(--third-color);
    text-decoration: none;
    transition: color 1s;
}

.menu__left__inner__item a:hover {
    color: var(--secondary-color);
}

.menu__left__inner__item__small {
    font-family: var(--secondary-font);
    font-size: 1.25rem;
}

/* Inner Right Menu */
.menu__right__inner__item__title {
    font-family: var(--primary-font);
    font-size: 3rem;
    color: var(--third-color);
}

.menu__right__inner__item ul {
    list-style: none;
}

.menu__right__inner__item ul li {
    margin-top: .5rem;
}

.menu__right__inner__item ul li a {
    color: var(--fourth-color);
    font-family: var(--secondary-font);
    text-decoration: none;
    font-size: 1.25rem;
    transition: color 1s;
}

.menu__right__inner__item ul li a:hover {
    color: var(--secondary-color);
}

.menu__right__inner__item:first-child {
    margin-bottom: 3rem;
}




.landingLink{

      text-decoration: none;
      color:inherit;

}



//  menu deroulant burgeur












































@keyframes rotateFirstRing {
      from {
            transform: rotate(0deg);
      }
      to {
            transform: rotate(360deg);
      }
}

@media(max-width: 900px) {

      .loading-screen {
            display: none;
      }
      .ring img {
            display: none;
      }

      .header p, button, .media, h1 {
            display: none;
      }

}

.hero {
    background: url('../images/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 23%;
    height: 56vh;
    position: absolute;
    bottom: 0;
    left: 60%;
}

.hero2 {
    background: url('../images/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 13%;
    height: 36vh;
    position: absolute;
    bottom: 40%;
    left: 55%;
}



// .scott{

// color:$cool;

// }




// ***********************************************************************************************

.loader2 {
    position: fixed;
    width: 100vw;
    height: 200vh;
    pointer-events: none;
    background-color: #FFF6ED;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
}























































ul {
  list-style: none;
}

/* NAVBAR
=========================== */




/* SOCIAL MEDIA
=========================== */


/* TEXT
=========================== */
.text {
  position: absolute;
  top: 200px;
  left: 100px;
  transform: rotate(-90deg);
}

.text h1 {
  font-size: 120px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: -10px;
  margin-bottom: 20px;

  position: relative;
  overflow: hidden;
  height: 150px;
  width: 600px;
}
.text h1 .hidetext {
  position: absolute;
}

.text h2 {
  position: absolute;
  top: 40px;
  left: -80px;
  color: #EFDE74;
  z-index: -1;
  font-size: 150px;
  font-weight: 600;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.text h3 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1;

  position: relative;
  overflow: hidden;
  height: 80px;
}
.text h3 .hidetext {
  position: absolute;
}

.text p {
  width: 200px;
  font-size: 12px;
  margin-top: 30px;
  font-weight: 500;

  position: relative;
  overflow: hidden;
  height: 110px;
}
.text p .hidetext {
  position: absolute;
}


/* SPONSOR
=========================== */
.sponsor {
  position: absolute;
  right: 100px;
  bottom: 100px;
  text-align: center;
}

.sponsor img {
  width: 200px;
  transform: rotate(-90deg);
}

.sponsor p {
  margin-top: 20px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 900;
  transform: rotate(180deg);
}

/* DISTORTION
=========================== */
.distortion {
  width: 580px;
  height: 720px;
  position: absolute;
  right: 300px;
  bottom: 0;
}

/* OVERLAY
=========================== */
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  z-index: 99;
}

.first {
  background: #efde74;
}

.second {
  background: #efde74;
  left: 33.3%;
}

.third {
  background: #efde74;
  left: 66.6%;
}
